
:root{
        /* COOLORS*/
    --backGround1: #243c5e;
    --backGround2: #e8e5e5;
    --backGround3: #e4dede;
    --backGround4: #15253b;

    --primary1: #0D3765;
    --accent1: #092849;

    --whiteTxt: #ffffff;
    --blackTxt: #000000;






    /*FONTS*/}