
:root{
        /* COOLORS*/
    --backGround1: #275485;
    --backGround2: #f5f5f5;
    --backGround3: #dbd7d7;

    --primary1: #0D3765;
    --accent1: #092849;

    --whiteTxt: #ffffff;
    --blackTxt: #000000;






    /*FONTS*/}