.signButton {
    background-color: #1a288c;
    color: #fcfcfc;
    border: 1px solid #000;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 12px;
}
