
.headerSection{
    height: 40vh;
    width: 100vw;
    background-color: var(--backGround1);
    color: var(--whiteTxt);
}
.mainTittle{
    font-size: 6vw;
    margin-left: 5vw;
}

.chartWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 80vw;
    margin-left: 5vw;
}

.resumenTittle{
    font-size: 7vw;
    margin-left: 5vw;
    margin-top: 5vh;
}
.resumenTxt{
    font-size: 5vw;
    margin-left: 5vw;
    margin-top: 2vh;
}